html, body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	background-image: url('login2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}
/*
	position: absolute;
	margin-top: 100px;
	margin-left: 100px; 
	width: 40%;*/
/*body{
	font-family: 'Roboto', sans-serif;
	padding: 10px;
}*/
/*.jumbotron {
	background-position: center;
	background-repeat: no-repeat;
	margin-bottom: 0px;
	background-size: cover;
	border-radius: 0px;
}*/
.form_class {
	border: 2px solid;
	padding: 10px;
	position: absolute;
	margin-top: 100px;
	margin-left: 450px; 
	background: transparent;
	-webkit-box-shadow: 0px 1px 24px 5px rgba(0,0,0,0.7);
-moz-box-shadow: 0px 1px 24px 5px rgba(0,0,0,0.7);
box-shadow: 0px 1px 24px 5px rgba(0,0,0,0.7);
}
.login_form {	
	padding-bottom: 30px;
}
.email{
	color: #fff;
}
.pass{
	color: #fff;
}
.rem{
	color: #fff;
}

@media (max-width: 576px) {
	.login_form {
		padding-bottom: 0px;
	}
	.form_class {
		padding: 0px;
	}
}
@media (max-width: 768px) {
	.login_form
	{	padding-bottom: 10px;
	}
	.form_class {
		padding: 10px;
	}
}
@media (max-width: 992px) {
	.login_form {
		padding-bottom: 10px;
	}
	.form_class {
		padding: 10px;
	}
}

figure {
	position: relative;
	width: 60%;
	height: 60%;
	margin: 0!important;
}

[class*="col-"] {
	padding: 1rem;
}